header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray; 
    .navbar-collapse{
	justify-content: flex-end;
}
}
            
       















